.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  background-color: var(--color-fondo); /* Fondo crema */
  border-bottom: 3px solid var(--color-primario); /* Borde Naranja */
  box-shadow: 0 2px 4px rgba(74, 44, 37, 0.1); /* Sombra suave color café */
}

.logo-container {
  display: flex;
  align-items: center;
}

.header-logo {
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
  margin-right: 10px;
}

.logo a {
  text-decoration: none;
  color: var(--color-primario); /* Terracota */
  font-size: 2rem;
  font-weight: 800; /* Más gordita la letra */
  letter-spacing: -0.5px;
}
.logo a:hover {
  transform: scale(1.03);
  display: flex;
}

.nav {
  display: flex;
  align-items: center;
}

.nav a {
  margin: 0 10px;
  text-decoration: none;
  color: var(--color-texto);
  font-weight: 800;
}

.nav a:hover {
  color: var(--color-acento);
  text-decoration: none;
}

.mapa {
  background-color: var(--color-secundario);
  color: var(--color-texto) !important;
  padding: 8px 16px;
  border-radius: 15%;
  transition: transform 0.2s;
}

.mapa:hover {
  transform: scale(1.05);
  color: var(--color-fondo) !important;
  background-color: var(--color-acento);
}

/* Oculta la navegación en pantallas pequeñas */
.nav {
  display: none;
}

.nav.open {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 60px;
  right: 20px;
  background-color: var(--color-fondo);
  border: 1px solid var(--color-texto);
  border-radius: 5px;
  padding: 10px;
  z-index: 10;
}

.nav.open a {
  margin: 10px 0;
}


/* Menú hamburguesa */
.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.hamburger div {
  width: 25px;
  height: 3px;
  background-color: #141414;
  margin: 3px 0;
}

.hamburger {
  display: block;
}
.nav {
  display: none;
}

/* Media query para pantallas pequeñas */
@media (min-width: 768px) {
  .hamburger {
    display: none; /* Ocultamos hamburguesa siempre */
  }

  .nav {
    display: flex !important; /* Forzamos que se vea siempre */
    flex-direction: row !important; /* Siempre horizontal */
    position: static !important; /* Quitamos la posición absoluta del móvil */
    background-color: transparent !important; /* Sin fondo blanco tapando todo */
    border: none !important;
    padding: 0 !important;
    box-shadow: none !important;
    top: auto;
    right: auto;
  }

  /* Esto anula el comportamiento de la clase .open en escritorio */
  .nav.open {
    display: flex !important;
    flex-direction: row !important;
    position: static !important;
    border: none !important;
  }

  .nav a,
  .nav.open a {
    margin: 0 15px; /* Espaciado entre links */
  }
}