.main-section {
  text-align: center;
  background-color: var(--color-texto);
  color: var(--color-fondo);
  padding: 1vh 2vh;

  display: flex;
  justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */
  height: 90vh; /* Asegura que el contenedor ocupe toda la altura de la ventana */
}

.main-section h1 {
  font-size: 3rem;
  font-weight: 800;
  font-style: normal;
  font-optical-sizing: auto;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1); /* Sombra para mejorar legibilidad */
}

.main-section p {
  margin-top: 20px;
  font-size: 1.4rem;
  font-weight: 400;
  max-width: 800px;
  line-height: 1.6;
  font-optical-sizing: auto;
}

.main-container {
  max-width: 800px; /* Opcional: limita el ancho máximo del texto */
  padding: 20px; /* Opcional: añade espacio interior */
}
