.main-section {
  text-align: center;
  background-color: #232d4f;
  color: #fff;
  padding-top: 10vh;
  padding-bottom: 10vh;
  padding-left: 2vh;
  padding-right: 2vh;

  display: flex;
  justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */
  height: 100vh; /* Asegura que el contenedor ocupe toda la altura de la ventana */
}

.main-section h1 {
  font-size: 3rem;
  font-family: 'Figtree', serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.main-section p {
  margin-top: 10px;
  font-family: 'Figtree', serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 1.4rem;
}

.main-container {
  max-width: 800px; /* Opcional: limita el ancho máximo del texto */
  padding: 20px; /* Opcional: añade espacio interior */
}
