.map-section {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-texto);
  padding: 0;
}

.loader {
  font-size: 1.5em;
  text-align: center;
  padding: 50px;
}
.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px; /* Mismo alto del mapa */
}

.loader::after {
  content: '';
  width: 40px;
  height: 40px;
  border: 5px solid #ccc;
  border-top-color: var(--color-primario);
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.custom-popup .leaflet-popup-content-wrapper {
  background-color: var(--color-fondo);
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.custom-popup .leaflet-popup-tip {
  background-color: var(--color-fondo);
}
.custom-popup .leaflet-popup-content {
  font-size: 1rem;
  color: var(--color-texto);
  line-height: 1.4;
}
.custom-popup .leaflet-popup-content h3 {
  font-size: 1.2rem;
  color: var(--color-primario);
}
.custom-popup .leaflet-popup-content p {
  margin: 5px 0;
}
.custom-popup .leaflet-popup-content strong {
  color: var(--color-primario);
}
.custom-popup .leaflet-popup-close-button span {
  color: var(--color-primario);
  font-size: 1.2rem;
}
.custom-popup .leaflet-popup-close-button span:hover {
  color: var(--color-texto);
}
.custom-popup .leaflet-popup-content-wrapper,
.custom-popup .leaflet-popup-tip {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}