.restaurant-cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  justify-content: center;
}

.error {
  min-height: 80vh;
}

.restaurant-card {
  background-color: var(--color-tarjeta);
  border: 1px solid var(--color-texto);
  border-radius: 8px;
  width: 300px;
  padding: 20px;
  box-shadow: 4px 4px 0px var(--color-acento);
  transition: transform 0.2s;
}

.restaurant-card:hover {
  transform: translateY(-5px);
}

.card-header {
  margin-bottom: 15px;
  padding-bottom: 10px;
  border-bottom: 2px solid var(--color-acento);
}

.restaurant-card h2 {
  font-size: 1.5em;
  color: var(--color-texto);
  min-height: 4rem;
  display: flex;
  align-items: center;
  margin: 0;
}

.restaurant-card p {
  margin: 5px 0;
  color: var(--color-texto);
}

.restaurant-card a {
  color: var(--color-acento);
  font-weight: bold;
  text-decoration: none;
}

.restaurant-card a:hover {
  text-decoration: underline;
}

.restaurant-card ul {
  padding-left: 20px;
}
