#buscador {
    padding: 20px;
    background-color: var(--color-secundario); /* Color institucional */
    display: flex;
    justify-content: center;
}

.search-input {
    width: 100%;
    max-width: 500px;
    padding: 10px 15px;
    border-radius: 25px;
    border: none;
    outline: none;
    font-size: 1rem;
}