h1,
p {
  font-family: 'Figtree', serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

body {
  margin: 0;
  font-family: 'Figtree', serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
